#Never commit your real .env file. 
#The .env.example shows other developers what variables are required without exposing secrets.


# Google Gemini API Key
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY

# Groq API Key
GROQ_API_KEY=YOUR_GROQ_API_KEY